<h1>ポーカー役判別アプリ</h1>
<section>
    <h2>あなたの役: <%= @res %></h2>
    <%= form_tag("/") do %>
        <div class="form">
            <div class="form-body">
                <textarea name="hands"></textarea>
                <input type="submit" value="投稿">
            </div>
        </div>
    <% end %>
</section>
