<h1>ポーカー役判別アプリ</h1>
<section>
    <%= form_tag("/") do %>
        <div class="form">
            <div class="form-body">
                <textarea name="hands"></textarea>
                <input type="submit" value="投稿">
            </div>
        </div>
    <% end %>
    <% if @contents %>
        <% @contents.each do |key, value| %>
            <p><%= key %>番目のカード指定文字が不正です。（<%= value %>）<p>
        <% end %>
    <% end %>
    <h2><%= @msg %></h2>
</section>
